### **Data Cleaning**

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [3]:
df1 = pd.read_csv(r"C:\Users\Sanjana\Downloads\labels.csv")
df1

    patient_id  heart_disease_present
0       0z64un                      0
1       ryoo3j                      0
2       yt1s1x                      1
3       l2xjde                      1
4       oyt4ek                      0
..         ...                    ...
175     5qfar3                      1
176     2s2b1f                      1
177     nsd00i                      1
178     0xw93k                      0
179     2nx10r                      0

[180 rows x 2 columns]

In [4]:
clean_df1 = df1.copy()

In [5]:
le = LabelEncoder()
clean_df1["patient_id_encoded"] = le.fit_transform(clean_df1["patient_id"])

In [6]:
clean_df1.to_csv("labels_cleaned_encoded.csv", index=False)

In [7]:
print("Dataset cleaned and encoded successfully!")
print(clean_df1.head())

Dataset cleaned and encoded successfully!
  patient_id  heart_disease_present  patient_id_encoded
0     0z64un                      0                   6
1     ryoo3j                      0                 147
2     yt1s1x                      1                 172
3     l2xjde                      1                 112
4     oyt4ek                      0                 133

In [8]:
df1.shape

(180, 2)

In [9]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [10]:
df2 = pd.read_csv(r"C:\Users\Sanjana\Downloads\values.csv")
df2

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,0z64un,1,normal,128,2,0,0,2,308,0.0,1,45,170,0
1,ryoo3j,2,normal,110,3,0,0,0,214,1.6,0,54,158,0
2,yt1s1x,1,normal,125,4,3,0,2,304,0.0,1,77,162,1
3,l2xjde,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0
4,oyt4ek,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,5qfar3,2,reversible_defect,125,4,2,1,0,254,0.2,1,67,163,0
176,2s2b1f,2,normal,180,4,0,0,1,327,3.4,0,55,117,1
177,nsd00i,2,reversible_defect,125,3,0,0,0,309,1.8,1,64,131,1
178,0xw93k,1,normal,124,3,2,1,0,255,0.0,1,48,175,0
179,2nx10r,1,normal,160,3,1,0,0,201,0.0,0,54,163,0

In [11]:
clean_df2 = df2.copy()

In [12]:
le1 = LabelEncoder()
clean_df2["patient_id_encoded"] = le1.fit_transform(clean_df2["patient_id"])

In [13]:
le2 = LabelEncoder()
clean_df2["thal_encoded"] = le2.fit_transform(clean_df2["thal"])

In [14]:
le2 = LabelEncoder()
clean_df2["thal_encoded"] = le2.fit_transform(clean_df2["thal"])

In [15]:
clean_df2.to_csv("values_cleaned_encoded.csv", index=False)

In [16]:
print("Dataset cleaned and encoded successfully!")
print(clean_df2.head())

Dataset cleaned and encoded successfully!
  patient_id  slope_of_peak_exercise_st_segment               thal  \
0     0z64un                                  1             normal
1     ryoo3j                                  2             normal
2     yt1s1x                                  1             normal
3     l2xjde                                  1  reversible_defect
4     oyt4ek                                  3  reversible_defect

   resting_blood_pressure  chest_pain_type  num_major_vessels  \
0                     128                2                  0
1                     110                3                  0
2                     125                4                  3
3                     152                4                  0
4                     178                1                  0

   fasting_blood_sugar_gt_120_mg_per_dl  resting_ekg_results  \
0                                     0                    2
1                                     0                    0
2                                     0                    2
3                                     0                    0
4                                     0                    2

   serum_cholesterol_mg_per_dl  oldpeak_eq_st_depression  sex  age  \
0                          308                       0.0    1   45
1                          214                       1.6    0   54
2                          304                       0.0    1   77
3                          223                       0.0    1   40
4                          270                       4.2    1   59

   max_heart_rate_achieved  exercise_induced_angina  patient_id_encoded  \
0                      170                        0                   6
1                      158                        0                 147
2                      162                        1                 172
3                      181                        0                 112
4                      145                        0                 133

   thal_encoded
0             1
1             1
2             1
3             2
4             2

In [17]:
df2.shape

(180, 14)

In [18]:
import pandas as pd

In [19]:
labels = pd.read_csv("labels_cleaned_encoded.csv")

In [20]:
values = pd.read_csv("values_cleaned_encoded.csv")

In [21]:
merged_df = pd.merge(
    values, 
    labels[["patient_id_encoded", "heart_disease_present"]], 
    on="patient_id_encoded",
    how="inner"
)

In [22]:
merged_df.to_csv("final_merged_dataset.csv", index=False)

In [23]:
print("final_merged_dataset.csv saved successfully!")

final_merged_dataset.csv saved successfully!

In [24]:
merged_df = pd.read_csv(r"C:\Users\Sanjana\Downloads\final_merged_dataset.csv")
merged_df

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina,patient_id_encoded,thal_encoded,heart_disease_present
0,0z64un,1,normal,128,2,0,0,2,308,0.0,1,45,170,0,6,1,0
1,ryoo3j,2,normal,110,3,0,0,0,214,1.6,0,54,158,0,147,1,0
2,yt1s1x,1,normal,125,4,3,0,2,304,0.0,1,77,162,1,172,1,1
3,l2xjde,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0,112,2,1
4,oyt4ek,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0,133,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,5qfar3,2,reversible_defect,125,4,2,1,0,254,0.2,1,67,163,0,40,2,1
176,2s2b1f,2,normal,180,4,0,0,1,327,3.4,0,55,117,1,22,1,1
177,nsd00i,2,reversible_defect,125,3,0,0,0,309,1.8,1,64,131,1,131,2,1
178,0xw93k,1,normal,124,3,2,1,0,255,0.0,1,48,175,0,5,1,0
179,2nx10r,1,normal,160,3,1,0,0,201,0.0,0,54,163,0,21,1,0

In [25]:
merged_df.shape

(180, 17)

## What the Dataset is About

This dataset contains clinical patient data used to predict whether a person has heart disease.
It includes medical measurements such as age, blood pressure, cholesterol, ECG results,
and other health-related features used for heart disease prediction.

---

## Dataset Shapes

### A. values.csv
- **Shape:** `(180 rows × 14 columns)`
- **Meaning:**
  - 180 patient records
  - 14 clinical measurement features
  - These features are used as input variables for the model

---

### B. labels.csv
- **Shape:** `(180 rows × 3 columns)`
- **Meaning:**
  - 180 patients
  - Columns include:
    - Patient ID
    - Target variable (Heart Disease)
    - Additional label-related identifier

---

## Merged Dataset (After Combining Both Files)

The `values.csv` file (14 features) was merged with `labels.csv` (3 columns)
using a common patient identifier.

- **Total columns before cleaning:**  
  `14 + 3 = 17 columns`

- **Description:**
  - Clinical features and target labels are combined into a single dataset
  - This merged dataset is used for data cleaning and encoding

---

## Data Cleaning and Encoding Performed

### 1. Dataset Copy
- A copy of the merged dataset was created to keep the original data unchanged

### 2. Label Encoding
- Categorical columns were converted into numerical format
- **LabelEncoder** was used for encoding
- Encoding was required because machine learning models accept only numerical input

### 3. Data Validation
- The encoded dataset was verified for correctness
- Column count and data consistency were rechecked

---

## Final Dataset Summary
- Dataset contains **180 rows and 17 columns**
- All required features and target labels are present
- Categorical values are successfully encoded
- Dataset is ready for further preprocessing, EDA, and model training

---

## Conclusion
This notebook focuses on merging, cleaning, and encoding the dataset.
After preprocessing, the data becomes structured and suitable for
machine learning models used in heart disease prediction.